* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
table td {
    border: solid 1px #000;
}

table {
    border-collapse: separate;
    border-spacing: 4px;
    margin: 0 0 0 0;
    width: 94%;
    margin: 0 3% 0 2.7%;
    border: 1px solid steelblue;

}

table td,table th, table tr {
    border: none;
}

table th {
    width: 16%;
    text-align: left;
    background-color:  greenyellow;
    
}

table td {
    border-bottom: 1px solid steelblue;
    border-left: 1px solid gainsboro;
    height: 3em;
}

table tr {
    border-top: 1px solid steelblue;
}

table:first-child {
}

.cabecalho {
    margin-bottom: 1em;
}

.col-short {
    width: 3.6%;
}

.col-average {
    width: 10%;
}

.linkboas {
    position: absolute;
    display: flex;
    right: 4rem;
    top: 0.8em
}
